@import "../../../color-variables.scss";

.btn {
  border: none;
  border-radius: 30px;

  cursor: pointer;
  padding: 20px 40px;

//quando o button estiver desabilitado
  &:disabled {
    opacity: 0.6;
  }

  //quando o button for primário
  &.primary {
    color: white;
    background: -webkit-linear-gradient(180deg, $primary-color, $secondary-color);

    font-size: 16px;
    font-weight: bold;
}

  //quando o button for secundário
  &.secondary {
    background: white;
    color: $primary-text;

    font-size: 12px;
    font-weight: bold;
}
}
